.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label:hover::before {
  background: var(--violet);
  opacity: 0.25;
}

.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color: var(--violet);
  opacity: 0.25;
}
