.job-details {
  width: var(--content-width);
  max-width: var(--job-details-max-width);
  margin-inline: auto;
  padding: 1% 2% 0;
  margin-top: 9rem;
}

.btn {
  margin: 0;
}

h3 {
  margin: 2rem 0;
}

ul {
  margin: 2rem 0 3rem;
  list-style: none;
}

li {
  display: flex;
  margin: 0.8rem 0;
}

li p {
  display: inline-block;
}

li::before {
  content: "\2022";
  color: var(--violet);
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  width: 4px;
  margin-right: 2rem;
}

.tasks-items:last-child {
  padding-bottom: 3rem;
}

@media (max-width: 834px) {
  .job-details {
    padding: 4% 5% 0;
    margin-top: 9rem;
  }
}

@media (max-width: 430px) {
  .job-details {
    padding: 6% 6% 0;
    margin-top: 11.5rem;
  }

  .btn {
    width: 100%;
  }
}
