footer {
  margin-top: auto;
  width: 100%;
}

footer h3 {
  margin: 0;
}

.job-footer {
  height: 100%;
  border-radius: 6px 6px 0 0 !important;
  width: 100%;
}

.btn {
  margin: 0;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding: 1.3rem 0;
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
